* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main {
    width: 1200px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 800px;
    position: relative;
}

.box img {
    width: 100%;
    display: none;
}

img.active,
li.active {
    display: block;
}

.left i {
    font-size: 35px;
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: -40px;
    transform: translateY(-50%);
}

.right i {
    font-size: 35px;
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: -40px;
    transform: translateY(-50%);
}

.dots {
    color: #fff;
    background: rgba(0,0,0, 0.7);
    width: 250px;
    border-radius: 15px;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.dots ul {
    display: flex;
    justify-content: space-around;
}

.dots ul li {
    list-style: none;
    cursor: pointer;
}

